@import 'normalize.scss';

$fz: 20px;
$color_1: red;

.wrapper {
    font-size: $fz*2;
	border: 3px solid $color_1;
	ul {
		display: list-item;
        list-style: none;
	}
}

.link {
    color: gray;
    text-decoration: none;
    &:hover {
        color: $color_1;
    }

    .wrapper & {
        font-size: $fz;
    }
}